<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" rel="stylesheet">
</head>
<body>
<div th:insert="fragments/nav.html :: nav"></div>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">Pridėti naują studentą</div>
                <div class="card-body">
                    <form action="/registrations/new" method="post">
                        <div class="mb-3">
                            <label class="form-label">Klientas</label>
                            <select class="form-select" name="client_id">
                                <option th:each="client: ${clients}" th:text="${client.name} + ' ' + ${client.surname}"
                                        th:value="${client.id}"></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Treniruotės pavadinimas</label>
                            <select class="form-select" name="workout_id">
                                <option th:each="workout: ${workouts}" th:text="${workout.name}"
                                        th:value="${workout.id}"></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Registracijos data</label>
                            <input class="form-control" name="registrationDate" type="text">
                        </div>
                        <button class="btn btn-success">Pridėti registraciją</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script crossorigin="anonymous"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>